<section>
    <a href="/dashboard">Return to Dashboard</a>
    <h2>Edit Post</h2>
    <form class="edit-post-form">
        <div>
            <input name="post_title" type="text" value="{{post.title}}"/>
        </div>
        <div>
            <textarea name="post-text">{{post.post_text}}</textarea>
        </div>
        <button type="submit">Save Post Update</button>
        <button type="button" class="delete-post-button">Delete Post</button>
    </form>
</section>