<form class="login-form">
    <div>
        <label for="email-login">Email:</label>
        <input type="text" id="email-login"/>
    </div>
    <div>
        <label for="password-login">Password:</label>
        <input type="text" id="password-login"/>
    </div>
    <div>
        <button type="submit">Log In</button>
    </div>
</form>

<a href="/signup">Sign Up Instead</a>

<scipt src="/javascript/login.js"></scipt>